Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-redis
celery
redis
channels
channels-redis
daphne
psycopg2-binary
python-dotenv
google-api-python-client
google-auth
requests
pillow
whitenoise
pypdf
reportlab