<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}silkRoad{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/search.css">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="site" style="min-height: 100vh;" >
        {% include "navbar.html" %}
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </div>
    <footer style="position: sticky; top: 100%;">
        <div class="footer-content">
            <p style="font-size: 0.65rem; font-family: Inter, sans-serif; text-align: center; color: #555;">&copy; 2025 silkRoad. All rights reserved.</p>
            <p style="font-size: 0.75rem; font-family: Inter, sans-serif; text-align: center; color: #777;">This site works purely on black magic Fr 🧙‍♀️✨</p>
        </div>
    </footer>
</body>
</html>