<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/auth.css">
<nav class="navbar">
  <div class="navbar-content">
    <a href="/" class="navbar-logo">silkRoad</a>
    <ul class="navbar-links">
      <li><a href="/certificate/">Certificate</a></li>
      <li><a href="/search/">Search</a></li>
    </ul>
    <div id="authLinks" class="user-profile">
      <img id="userProfilePic" class="user-dp" src="" alt="Profile" style="display: none;">
      <a href="/sign_in?next={{ request.path }}" class="login-btn" id="loginBtn">Login</a>
    </div>
  </div>
</nav>
<script src="/static/js/navAuthStatus.js"></script>
